*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
@font-face {
  font-family: 'extrasquare';
  src: url('./fonts/bpg_extrasquare_mtavruli_2009.ttf');
}

body{
  font-family: extrasquare;
}